* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00dfa2;
	font-family: "Montserrat", sans-serif;
}

.wrapper {
	margin-top: 100px;
	width: 40%;
	background-color: #f6fa70;
	box-shadow: 0 0 10px #ff0060;
}

form {
	padding: 40px;
	font-size: 20px;
}

h1 {
	margin-bottom: 30px;
	text-align: center;
}

.form-box {
	margin-bottom: 15px;
}

.form-box label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-box input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid gray;
	border-radius: 5px;
}

/* .error to be controlled by JS: */
.form-box.error input {
	border: 1px solid #ff0060;
	background-color: rgba(255, 0, 96, 0.1);
}

.form-box .error-text {
	margin: 5px 0 0 10px;
	font-size: 14px;
	color: #ff0060;
	visibility: hidden;
}

.form-box.error .error-text {
	visibility: visible;
}

.control-buttons {
	display: flex;
	justify-content: flex-end;
}

.clear,
.send,
.close {
	display: block;
	padding: 10px 20px;
	margin-left: 10px;
	width: 25%;
	font-size: 18px;
	background: #0079ff;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.clear:hover,
.send:hover,
.close:hover {
	background-color: #004ba1;
}

.popup {
	width: 60%;
	background-color: white;
	position: absolute;
	top: -300px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 5px;
	border: 2px solid #000;
	transition: top 0.5s;
}

.popup p {
	font-size: 26px;
}

.popup .close {
	margin-top: 20px;
}

/* .show-popup be controlled by JS */
.show-popup {
	top: 150px;
}
